/*MOBILE FIRST*/
/*GENERALES*/
body{
  margin:0;
}
*{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
img{
  height: 100%;
  width: 100%;
}

/*HEADER */
header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 12vh;
  width:100%;
  background-color: rgb(245,246,251);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.header__logo{
  height: 100%;
  width: 25%;
}

.header__icon{
  height: 100%;
  width:20%;
  background-color: transparent;
  border:0;
}

.icon{
  font-size: 1.25rem;
}

.header__navigation{
  width:100%;
  height: 30vh;
  background-color: rgb(230,230,230,.8);
  display:none;
}

.header__navigation--active{
  display:flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  position: relative;
}

.header__navigation--disabled{
  display:none;
}

.header__navigation ul{
  width:100%;
  height: 100%;
  display:flex;
  align-items:center;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.header__navigation li{
  width:100%;
  display:flex;
  align-items:center;
  justify-content: center;
  align-content: center;
  list-style: none;
}


.navigation__link{
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
}

/*BANNER*/

#banner {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(245,246,251);
}

.banner__img{
  height:100%;
  width: 100%;
}


 /*MAIN*/
 /*ARTICLES*/
 .articles__item {
   width:100%;
   height: 30vh;
   display:flex;
   justify-content: space-around;
   align-items: center;
   align-content: center;
   flex-direction: column;
   background-color: rgb(245,246,251);
 }

 .articles__img{
   height: 30vh;
   margin:15px;
   position: relative;
   text-align: center;
   background-color: rgb(245,246,251);
 }

 .articles__title_right {
   margin:0;
   font-weight: bold;
   font-size:1rem;
   position: absolute;
   top: 20px;
   right: 0px;
   padding: 0px 40px;
   background-color: rgb(245,246,251);
 }

 .articles__title_left {
   margin:0;
   font-weight: bold;
   font-size:1rem;
   position: absolute;
   top: 20px;
   left: 0px;
   padding: 0px 40px;
   background-color: rgb(245,246,251);
 }

 .articles__list {
   display:none;
 }

 .articles__list--active{
   height: 50%;
   width: 100%;
   display:flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   align-content: space-around;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 2.25rem;
   font-weight: bold;
 }


 /*NOSOTROS*/
 #us {
   width: 100%;
   height: auto;
   display:flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   background-color: rgb(245,246,251);
   flex-direction: column;
 }


 .us_title{
   font-size: 3rem;
 }

 #us p{
   font-size: 2rem;
   margin: 50px;
   text-align: justify;
 }

/*GALERIA*/
.carousel-item {
   height: 25vh;
 }

#staticGalery{
  display:none;
}

/*FOOTER*/
footer {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  align-content: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url("../img/footer_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;

}

#contact {
  margin-right: 50px;
}
.contact_title{
  font-size: 2rem;
  color: white;
}

.contact_item {
  font-size: 2rem;
  color:white;
}

.contact_link{
  color:white;
  text-decoration: none;
}

@media (min-width: 1000px){
  /*HEADER*/

  .header__logo{
    width: 12%;
  }

  .header__icon{
    display:none;
  }

  .header__navigation{
    width:80%;
    height: 100%;
    background-color: transparent;
    display:flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
  }


  .header__navigation ul{
    width:100%;
    height: 100%;
    display:flex;
    align-items:center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    padding:0;
    margin:0;
  }

  .navigation__link{
    font-size: 1rem;
  }

  /*BANNER*/
  #banner {
    height: 50vh;
  }

  /*MAIN*/
  main {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    direction: row;
  }
/*secciones main*/


/*pedidos*/
  #pedidos {
    height: 15vh;
    background-color: rgb(230,230,230);
    border-width: 5px;
    margin-bottom: 0px;
  }

  .pedidos_title{
    font-size: 3rem;
  }
/*nosotros*/
  #us {
    height: auto;
    background-color: rgb(200,200,200);
    margin-top: 0px;
  }

  .us_title{
    font-size: 2rem;
  }

  #us p{
    font-size: 1rem;
    margin: 0px 20px 0px 20px;
    text-align: justify;
  }
/*galeria*/
  #carouselGalery{
    display:none;
  }

  #staticGalery{
    display:flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%
    height: 24vh;
    margin: 10px 0px 20px 0px;
  }

  .static-item{
    margin:15px;
  }

/*FOOTER*/

  .contact_title{
    font-size: 1rem;
  }

  .contact_item {
    font-size: 1rem;
  }
}
